@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  display: block;
  margin-top: 1.46vw;
  margin-bottom: 6.94vw;
  width: 7.77vw;
  height: 4.58vw;
}
.main {
  margin: 0 auto;
  width: calc(100% - 16.8vw);
}
.info {
  display: flex;
  flex-direction: row;
}
.info img {
  width: 1.52vw;
  height: 1.46vw;
  margin-right: 0.97vw;
}
.info p {
  width: 9.03vw;
  height: 2.29vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.39vw;
  margin: 0;
  margin-right: 0.5rem;
  line-height: 2.5972vw;
}
.movie {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  gap: 9.72vw;
}
.movie .text {
  width: 43.6vw;
  margin-top: 2vw;
}
.movie .text h1 {
  width: 43.6vw;
  height: 13.2vw;
  font-weight: 700;
  font-size: 5.56vw;
  line-height: 5.63vw;
  flex-wrap: wrap;
  font-family: 'Roboto Slab', serif;
  margin: 0;
}
.movie .text p {
  font-family: 'Roboto', sans-serif;
  line-height: 2.08vw;
  font-size: 1.39vw;
  font-weight: 400;
  flex-wrap: wrap;
  width: 28.75vw;
  height: 13.2vw;
  margin: 0;
}
.movie img {
  width: 21.1vw;
  height: 26.7vw;
}
.poem {
  background-color:#1E4681;
  color: white;
  width: 33.5854vw;
  height: 13.89vw;
  margin: 6.08vw auto 12.23vw auto;
  padding: 1.3375vw 1.29vw 0.0014vw 1.81vw;
  border-radius: 0.35vw;
}
.poem .idea {
  width: 28.9vw;
  height: 7.85vw;
  margin-bottom: 1.54vw;
  font-size: 1.74vw;
  line-height: 2.25vw;
  font-family: 'Roboto Slab', serif;
}
.poem .author {
  width: 19.5vw;
  height: 3.17vw;
  font-size: 1.4vw;
  line-height: 1.81vw;
  margin-left: 16vw;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 601px) and (max-width: 1024px) {

  .logo {
    display: block;
    margin-top: 2.64vw;
    margin-bottom: 6.94vw;
    width: 7.78vw;
    height: 4.59vw;
  }
  .main {
    margin: 0 auto;
    width: calc(100% - 16.92vw);
  }
  .info {
    display: flex;
    flex-direction: row;
  }
  .info p {
    width: 8.97vw;
    height: 2.21vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.43vw;
    margin: 0;
    margin-right: 1.79rem;
    line-height: 1.6448vw;
  }
  .info img {
    width: 1.52vw;
    height: 1.45vw;
    margin-right: 0.67vw;
  }
  .movie {
    margin-top: 0.9vw;
    display: flex;
    flex-direction: row;
    gap: 9.66vw;
  }
  .movie .text h1 {
    line-height: 5.56vw;
    font-weight: 700;
    font-size: 5.49vw;
    width: 43.35vw;
    height: 13.12px;
    flex-wrap: wrap;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    height: fit-content;
  }
  .movie img {
    width: 21vw;
    height: 24.58vw;
  }
  .movie .text {
    width: 43.35vw;
    margin-top: 0.9vw;
  }
  .movie .text p {
    display: flex;
    font-size: 1.34vw;
    line-height: 2.15vw;
    font-weight: 400;
    flex-wrap: wrap;
    width: 31.46vw;
    height: 4.29vw;
    margin: 0;
    margin-top: 3.28vw;
  }
  .poem {
    width: 33.59vw;
    height: 13.9vw;
    margin: 6.05vw auto 6.97vw auto;
    padding: 1.35vw 1.13vw 0.5vw 1.81vw;
    border-radius: 0.35vw;
  }
  .poem .idea {
    width: 27.9vw;
    height: 7.85vw;
    margin-bottom: 1.03vw;
    font-size: 1.67vw;
    line-height: 2.2vw;
  }
  .poem .author {
    width: 19.5vw;
    height: 3.17vw;
    font-size: 1.44vw;
    line-height: 1.87vw;
    margin-left: 14.16vw;
  }
}

@media (max-width:600px) and (min-width:300px) {

  html {
    font-size: 14px;
  }
  .main {
    margin: 0 auto;
    width: calc(100% - 18.13vw);
  }
  .logo {
    display: block;
    margin-top: 9.6vw;
    margin-bottom: 11.9vw;
    width: 13.9vw;
    height: 8.2vw;
  }
  .info {
    display: flex;
    flex-direction: row;
  }
  .info p {
    font-family: 'Roboto', sans-serif;
    line-height: 4.07vw;
    font-weight: 400;
    font-size: 2.67vw;
    margin: 0;
    margin-right: 3.2vw;
    width: 16.16vw;
    height: 3.976vw;
  }
  .info img {
    width: 2.73vw;
    height: 2.61vw;
    margin-right: 1.2vw;
  }
  .movie {
    margin: 2.15vw auto 0 auto;
    flex-direction: column;
    gap: 0;
  }
  .movie .text h1 {
    line-height: 10vw;
    font-weight: 700;
    font-size: 9.87vw;
    width: 78.03vw;
    height: 23.608vw;
    font-family: 'Roboto Slab', serif;
    margin: 0;
  }
  .movie .text p {
    font-size: 2.67vw;
    line-height: 4vw;
    font-weight: 400;
    flex-wrap: wrap;
    width: 56.64vw;
    margin: 0;
    margin-top: 0.592vw;
  }
  .movie .director {
    display: flex;
    width: auto;
    justify-content: flex-end;
  }
  .movie .director img {
    width: 37.78vw;
    height: 46.67vw;
  }
  .poem {
    width: 60.1vw;
    height: 24.85vw;
    margin: 0;
    margin: 10.304vw 0 5.2125vw 0.79vw;
    padding: 2.4vw 2.02vw 0.9vw 3.24vw;
    border-radius: 0.62vw;
  }
  .poem .idea {
    width: 50.5vw;
    height: 14.04vw;
    margin-bottom: 1.85vw;
    font-size: 2.93vw;
    line-height: 3.81vw;
  }
  .poem .author {
    width: 34.85vw;
    height: 5.672vw;
    font-size: 2.67vw;
    line-height: 3.47vw;
    margin-left: 20vw;
  }
}